@keyframes flicker1 {
  0%   { opacity:0.1; }
  25%  { opacity:1; }
  50%  { opacity:0.3; }
  75%  { opacity:0.1; }
  100% { opacity:0.1; }
}

@keyframes flicker2 {
  0%   { opacity:0.1; }
  25%  { opacity:0.1; }
  50%  { opacity:1; }
  75%  { opacity:0.3; }
  100% { opacity:0.1; }
}

@keyframes flicker3 {
  0%   { opacity:0.1; }
  25%  { opacity:0.1; }
  50%  { opacity:0.1; }
  75%  { opacity:1; }
  100% { opacity:0.3; }
}

@keyframes flicker4 {
  0%   { opacity:0.3; }
  25%  { opacity:0.1; }
  50%  { opacity:0.1; }
  75%  { opacity:0.1; }
  100% { opacity:1; }
}

@keyframes flicker1in8 {
  0%   { opacity:0.1; }
  12.5%  { opacity:1; }
  25%  { opacity:0.3; }
  37.5%  { opacity:0.1; }
  100% { opacity:0.1; }
}

@keyframes flicker2in8 {
  0%   { opacity:0.1; }
  12.5%  { opacity:0.1; }
  25%  { opacity:1; }
  37.5%  { opacity:0.3; }
  50%  { opacity:0.1; }
  100% { opacity:0.1; }
}

@keyframes flicker3in8 {
  0%   { opacity:0.1; }
  25%  { opacity:0.1; }
  37.5%  { opacity:1; }
  50%  { opacity:0.3; }
  62.5%  { opacity:0.1; }
  100% { opacity:0.1; }
}

@keyframes flicker4in8 {
  0%   { opacity:0.1; }
  37.5%  { opacity:0.1; }
  50%  { opacity:1; }
  62.5%  { opacity:0.3; }
  75%  { opacity:0.1; }
  100% { opacity:0.1; }
}

@keyframes flicker5in8 {
  0%   { opacity:0.1; }
  50%  { opacity:0.1; }
  62.5%  { opacity:1; }
  75%  { opacity:0.3; }
  87.5%  { opacity:0.1; }
  100% { opacity:0.1; }
}

@keyframes flicker6in8 {
  0%   { opacity:0.1; }
  62.5%  { opacity:0.1; }
  75%  { opacity:1; }
  87.5%  { opacity:0.3; }
  100% { opacity:0.1; }
}

@keyframes flicker7in8 {
  0%   { opacity:0.1; }
  75%  { opacity:0.1; }
  87.5%  { opacity:1; }
  100% { opacity:0.1; }
}

@keyframes flicker8in8 {
  0%   { opacity:0.1; }
  25%  { opacity:0.1; }
  50%  { opacity:0.1; }
  87.5%  { opacity:0.1; }
  100% { opacity:1; }
}

.flicker1 { animation: flicker1 20s infinite; }
.flicker2 { animation: flicker2 20s infinite; }
.flicker3 { animation: flicker3 20s infinite; }
.flicker4 { animation: flicker4 20s infinite; }
.flicker1in8 { animation: flicker1in8 20s infinite; }
.flicker2in8 { animation: flicker2in8 20s infinite; }
.flicker3in8 { animation: flicker3in8 20s infinite; }
.flicker4in8 { animation: flicker4in8 20s infinite; }
.flicker5in8 { animation: flicker5in8 20s infinite; }
.flicker6in8 { animation: flicker6in8 20s infinite; }
.flicker7in8 { animation: flicker7in8 20s infinite; }
.flicker8in8 { animation: flicker8in8 20s infinite; }