@import 'smelte/src/tailwind';

html,
body {
  width: 100%;
}

img {
  @apply elevation-2;
}

body {
  font-family: 'Bodoni', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.75;
}

a {
  text-decoration: underline;
}

a:hover {
  @apply text-blue-900 no-underline;
  animation: hue-rotate 8s infinite;
}

p {
  margin-bottom: 1.7em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.707em;
  line-height: 1.2;
  font-weight: 600;
  font-family: 'Bodoni', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h3 {
  @apply my-16;
}

h1 {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 4.236em;
  line-height: 5.6rem;
  text-align: inherit;
}

h2.small {
  text-transform: uppercase;
  font-size: 1.412rem;
  letter-spacing: 0.4rem;
  font-weight: normal;
  line-height: 2.2rem;
}

@font-face {
  font-family: 'Bodoni';
  src: url(/fonts/bodoni-regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni';
  src: url(/fonts/bodoni-bold.woff2);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni';
  src: url(/fonts/bodoni-italic.woff2);
  font-weight: normal;
  font-style: italic;
}

.small {
  font-size: 0.8rem;
  line-height: 1.1rem;
  display: block;
  @apply mb-10 mt-4;
}

.lead:first-letter {
  display: block;
  line-height: 4rem;
  font-size: 6.5rem;
  color: #df00ff;
  float: left;

  @apply mt-3 p-1 pr-4 pb-3 font-bold;

  text-shadow: 1px 1px 1px #b943b9,
      1px 2px 1px #b943b9,
      1px 3px 1px #b943b9,
      1px 4px 1px #b943b9,
  1px 15px 6px rgba(0,128,128,0.4),
  1px 20px 20px rgba(0,128,128,0.2),
  1px 25px 25px rgba(0,128,128,0.2),
  1px 30px 35px rgba(0,128,128,0.4);
}

.lead {
  @apply mx-auto max-w-3xl text-xl my-32 px-3;
}

section {
  @apply mx-auto max-w-3xl;
}

.gallery {
  max-width: 1200px;
  @apply flex flex-wrap items-center justify-center relative mx-auto my-16;
}

.gallery img {
  max-width: 500px;
}

.gallery .wrapper {
  max-width: 500px;
  margin: 1rem;
}

.date {
  @apply small-caps text-center text-xs py-3 font-sans text-gray-400;
}

ul {
  list-style-type: square;
}

.a {
  text-decoration: none;
  color: inherit;
}

.q::before, .a::before {
  content: "— ";
  position: absolute;
  margin-left: -26px;
}

.q {
  @apply font-bold text-primary-900;
}

@keyframes skew {
  0%   { transform: skew(0deg, 0deg) }
  50%   { transform: skew(5deg) }
  100%   { transform: skew(0deg, 0deg) }
}

.skewed {
  animation: skew 0.8s linear infinite;
}

.poem {
  color: #a669c8;
  padding-left: 2rem;
  font-family: 'Courier New';
  font-size: 1.6rem;
}

@keyframes hue-rotate {
  0%, 100%  { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(360deg); }
}

.hued {
  animation: hue-rotate 8s infinite;
}

ul > li {
  margin-left: 2rem;
}

ul {
  @apply text-primary-500;
}

@media (max-width: 640px) {
  .small {
    font-size: 0.93rem;
  }

  img {
    @apply mx-auto;
  }

  .mt-32 {
    margin-top: 3rem;
  }

  .mb-16 {
    margin-bottom: 1.5rem;
  }

  section {
    @apply px-4;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: normal;
    line-height: 1.5;
  }

  h2 {
    font-size: 1.4rem;
    letter-spacing: normal;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.3rem;
    letter-spacing: normal;
    line-height: 1.5;
  }

  h4 {
    font-size: 1.2rem;
    letter-spacing: normal;
    line-height: 1.5;
  }

  h5 {
    font-size: 1.1rem;
    letter-spacing: normal;
    line-height: 1.5;
  }
}

.wrapper {
  @apply mt-2 mb-4;
}

p.small {
  @apply pt-4;
}

.quote {
  @apply w-full text-center italic py-32 px-64 bg-gray-50 my-8;
}