@import "smelte/src/tailwind";

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
  @apply elevation-2;
}

body {
  font-family: "Bodoni", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.75;
}

a {
  text-decoration: underline;
}

a:hover {
  @apply text-blue-900 no-underline;
  animation: hue-rotate 8s infinite;
}

.hue-rotate {
  animation: hue-rotate 8s infinite;
}

p {
  margin-bottom: 1.7em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.707em;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Bodoni", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  @apply my-16;
}

h1 {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 4.096em;
  line-height: 5.12rem;
  text-align: inherit;
}

h2.small {
  text-transform: uppercase;
  font-size: 1.412rem;
  letter-spacing: 0.4rem;
  font-weight: normal;
  line-height: 2.2rem;
}

@font-face {
  font-family: "Bodoni";
  src: url(/fonts/bodoni-regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bodoni";
  src: url(/fonts/bodoni-bold.woff2);
  font-weight: bold;
  font-style: normal;
}

.small {
  font-size: 0.8rem;
  line-height: 1.1rem;
  display: block;
  @apply mb-10 mt-4 text-center;
}

.lead {
  @apply mx-auto max-w-2xl text-xl my-32 px-3;
}

section {
  @apply mx-auto max-w-2xl;
}

.gallery {
  max-width: 1200px;
  @apply flex flex-wrap items-center justify-center relative mx-auto my-16;
}

.gallery img {
  max-width: 500px;
}

.gallery .wrapper {
  max-width: 500px;
  margin: 1rem;
}

.date {
  @apply small-caps text-center text-xs py-3 pb-5 font-sans;
}

ul {
  list-style-type: square;
}

.a {
  text-decoration: none;
  color: inherit;
}

.q::before,
.a::before {
  content: "— ";
  position: absolute;
  margin-left: -26px;
}

.q {
  @apply font-bold text-primary-900;
}

@keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }
  50% {
    transform: skew(5deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

.skewed {
  animation: skew 0.8s linear infinite;
}

.poem {
  color: #a669c8;
  padding-left: 2rem;
  font-family: "Courier New";
  font-size: 1.6rem;
}

@keyframes hue-rotate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

.hued {
  animation: hue-rotate 8s infinite;
}

@keyframes sepia-rotate {
  0%,
  100% {
    filter: sepia(100%) saturate(80%) contrast(90%);
  }
  50% {
    filter: sepia(0) saturate(120%) contrast(120%);
  }
}

.skin {
  animation: sepia-rotate 500s infinite;
}

.darken {
  backdrop-filter: brightness(10%);
}

.first-letter {
  color: #ff2aff;
  line-height: 0.001;
  @apply font-bold text-4xl;
}

ul > li {
  margin-left: 2rem;
}

ul {
  @apply text-primary-500;
}

@media (max-width: 640px) {
  .cover h1 {
    font-size: 2rem;
  }

  .small {
    font-size: 0.93rem;
  }

  img {
    @apply mx-auto;
  }

  .mt-32 {
    margin-top: 3rem;
  }

  .mb-16 {
    margin-bottom: 1.5rem;
  }

  section {
    @apply px-4;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: normal;
    line-height: 1.5;
  }

  h2 {
    font-size: 1.4rem;
    letter-spacing: normal;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.3rem;
    letter-spacing: normal;
    line-height: 1.5;
  }

  h4 {
    font-size: 1.2rem;
    letter-spacing: normal;
    line-height: 1.5;
  }

  h5 {
    font-size: 1.1rem;
    letter-spacing: normal;
    line-height: 1.5;
  }
}

.wrapper {
  @apply mt-2 mb-4;
}

p.small {
  @apply pt-4;
}

.quote {
  @apply w-full text-center italic py-8 bg-gray-50 my-8;
}

@media (min-width: 641px) {
  .quote {
    @apply py-32 px-64;
  }
}

@keyframes spin {
  0% {
    color: rgba(0, 255, 255, 1);
  }

  50% {
    color: rgba(255, 0, 255, 1);
  }

  0% {
    color: rgba(0, 255, 255, 1);
  }
}

.article-body h2 {
  text-align: center;
}

.with-shadow {
  box-shadow: 1px -4px 20px -5px rgba(102, 51, 153, 0.68);
}

.text-shadow {
  text-shadow: 0 4px 10px rgba(102, 51, 153, 1);
}

.blend {
  background: inherit;
  background-clip: text;
  color: transparent;
  filter: invert(1);
}

.bg-white-transLight {
  background: rgba(255, 255, 255, 0.2);
}

#soznatelniy_kasting section,
#soznatelniy_kasting .lead {
  background: rgba(0, 0, 0, 0.7);
  @apply p-4 text-white;
}
